{% extends 'index.html' %}
{% load staticfiles %}


{% block title %}Relearn - {{ user.username }} {% endblock %}

{% block content %}
<script>
    var resourceLists = serializedDjangoToJsonList("{{ jsonResourceLists | escapejs }}");


</script>
{% if jsonBookmarks %}
<script>var bookmarks = serializedDjangoToJsonList("{{ jsonBookmarks | escapejs }}"); </script>
{% endif %}
<div v-cloak id="resource-lists" class="mt-5 container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="rounded">
                <resource-list-summary v-for="resourceList in resourceLists" v-bind:resource-list="resourceList"
                    v-bind:key="resourceList.id" v-bind:authenticated-user="authenticatedUser" v-bind:bookmarks="bookmarks"
                    v-on:delete-list="deleteList">
                </resource-list-summary>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
<script src="{% static 'js/resourceLists.js' %}"></script>

{% endblock %}